* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-yellow: #ffea00;
  --main-black: #191700;
}

html {
  font-family: "Figtree", sans-serif;
  font-size: 62.5%;
  line-height: 1.2;
}

h1 {
  font-size: 24rem;
  font-weight: 800;
}

h2 {
  font-size: 15rem;
  font-weight: 400;
  text-align: left;
}

h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 2rem;
}

section {
  padding: 20rem;
}

a {
  font-weight: 700;
  text-decoration: none;
}

a:hover {
  color: var(--main-yellow);
  background-color: #000;
  border: none;
}

.grid-container {
  display: grid;
  grid-template: auto 1fr / 1fr 2fr;
  /* gap: 50px; */
  justify-items: start;
}

.grid-items {
  grid-area: 2 / 2 / 3 /-1;
}

#hero {
  background-color: var(--main-yellow);
  height: 100vh;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#hero p {
  font-size: 7rem;
}

/* .headshot {
  width: 450px;
  margin-top: 10rem;
} */

.skill:not(:last-child) {
  margin-bottom: 8rem;
}

.icon {
  font-size: 4rem;
  color: #000;
}

.icon-circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--main-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#projects {
  background-color: #fffde6;
}

#contact {
  background-color: var(--main-black);
  color: #fff;
}

#contact .icon-circle:hover {
  background-color: #fff;
}

footer {
  color: var(--main-yellow);
  background-color: var(--main-black);
  padding-left: 20rem;
  padding-bottom: 5rem;
}

footer p {
  font-size: 1.5rem;
}

/* --------------------
MEDIA QUERIES
-------------------- */
@media (max-width: 1586px) {
  h1 {
    font-size: 18rem;
  }

  section {
    padding: 18rem;
  }

  footer {
    padding-left: 18rem;
  }
}

@media (max-width: 1420px) {
  h1 {
    font-size: 16rem;
  }

  section {
    padding: 16rem;
  }

  footer {
    padding-left: 16rem;
  }
}

@media (max-width: 1288px) {
  h1 {
    font-size: 14rem;
  }

  h2 {
    font-size: 13rem;
  }

  section {
    padding: 14rem;
  }

  footer {
    padding-left: 14rem;
  }
}

@media (max-width: 1122px) {
  h1 {
    font-size: 12rem;
  }

  h2 {
    font-size: 10rem;
  }

  section {
    padding: 12rem;
  }

  footer {
    padding-left: 12rem;
  }
}

@media (max-width: 964px) {
  h1 {
    font-size: 10rem;
  }

  #hero p {
    font-size: 6rem;
  }

  h2 {
    font-size: 8rem;
  }

  section {
    padding: 12rem;
  }

  footer {
    padding-left: 12rem;
  }
}

@media (max-width: 902px) {
  h1 {
    font-size: 10rem;
  }

  h2 {
    font-size: 8rem;
  }

  section {
    padding: 12rem;
  }

  footer {
    padding-left: 12rem;
  }

  #hero p {
    font-size: 6rem;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 902px) {
  #hero p {
    font-size: 5rem;
  }

  section {
    padding: 8rem;
  }

  footer {
    padding-left: 8rem;
  }
}

@media (max-width: 454px) {
  #hero p {
    font-size: 4rem;
  }

  h2 {
    font-size: 6rem;
  }

  section {
    padding: 6rem;
  }

  footer {
    padding-left: 6rem;
  }

  p {
    line-height: 1.5;
    font-size: 1.8rem;
  }
}

@media (max-width: 412px) {
  h1 {
    font-size: 8rem;
  }

  #hero p {
    font-size: 3rem;
  }

  h2 {
    font-size: 6rem;
  }

  section {
    padding: 6rem;
  }

  footer {
    padding-left: 6rem;
  }

  p {
    line-height: 1.5;
    font-size: 1.8rem;
  }
}

@media (max-width: 358px) {
  h1 {
    font-size: 6rem;
  }

  #hero p {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 5rem;
  }

  section {
    padding: 5rem;
  }

  footer {
    padding-left: 5rem;
  }
}
